.menu li {
    position: relative;
    padding: 3%;
}

.menu ul {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-width: 10px;
    border-color: aqua;
    /* background-color: brown; */
    width: 60%;
}

.menu {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 5vh;
    width: 80vw;
    background-color: blueviolet;
    color: burlywood;
    border-radius: 30px;
    padding: 3%;
    margin: 3% 0% 3% 0%;
}